---
import { Tabs, TabItem } from "@astrojs/starlight/components";

interface Props {
    options_config: IOptionsConfig;
}
const { options_config } = Astro.props;

export interface IOptionVariant {
    name: string;
    desc: string;
    price: number;
}

export interface IOption {
    name: string;
    default: number;
    variants: IOptionVariant[];
}

export interface IOptionsConfig {
    base_price: number;
    options: IOption[];
}
---

<style>
    #option_copy_message {
        display: none;
        color: var(--md-sys-color-on-primary-container);
        background: var(--md-sys-color-primary-container);
        padding: 6px 12px;
        border-radius: 4px;
        margin-top: 8px;
        margin-left: 8px;
        font-size: 14px;
        transition: opacity 1s;
    }
</style>

<p>
    Заданная конфигурация: <b><code id="option_variant_config" style="font-size: 1rem;"></code></b>
    <button
        id="option_copy_button"
        style="background-color: transparent; border: 0px;"
        title="Копировать в буфер"
    >
        <span class="material-symbols--content-copy-outline-rounded"></span>
    </button>
    <span id="option_copy_message"> Скопировано </span>
</p>

<p>Стоимость: <b><code id="price" style="font-size: 1rem;"></code> $</b></p>

<div id="options_wrapper">
    <Tabs>
        {
            options_config.options.map((o, o_index) => (
                <TabItem label={(o_index + 1).toString()}>
                    <p>
                        {o_index + 1}. {o.name}
                    </p>
                    {o.variants.map((ov, ov_index) => (
                        <div>
                            <input
                                type="radio"
                                id={"option_" + o_index.toString() + "_" + ov_index.toString()}
                                name={o_index.toString()}
                                value={ov_index}
                                class="data-option"
                                style="margin-right: 10px;"
                            />
                            <label for={"option_" + o_index.toString() + "_" + ov_index.toString()}>
                                {ov.desc} (+{"TODO"} $)
                                <!-- (+{ov.price.toFixed(1)} $) -->
                            </label>
                        </div>
                    ))}
                </TabItem>
            ))
        }
    </Tabs>
</div>

<script is:inline define:vars={{ options_config }}>
    // Установить значения по умолчанию для опций
    function setOptionsDefault() {
        for (let i = 0; i < options_config.options.length; i += 1) {
            let radio = document.querySelector(
                `#option_${i.toString()}_${options_config.options[i].default}`,
            );
            if (radio === null) {
                console.warn(
                    `Для опции "${options_config.options[i].name}" нельзя установить значение по умолчанию`,
                );
                continue;
            }

            radio.checked = true;
        }
        updateData();
    }

    function updateData() {
        const checkedVariants = document.querySelectorAll(".data-option:checked");
        let price = options_config.base_price;
        let option_variants = [];
        checkedVariants.forEach((ov) => {
            let option_index = parseInt(ov.name);
            let option_variant_index = parseInt(ov.value);

            price += options_config.options[option_index].variants[option_variant_index].price;
            option_variants.push(
                options_config.options[option_index].variants[option_variant_index].name,
            );
        });

        document.querySelector("#price").textContent = price.toFixed(1);
        document.querySelector("#price").textContent = "TODO"; // delete

        let option_string = option_variants.join("/");
        document.querySelector("#option_variant_config").textContent = option_string;

        let tabs = document.querySelectorAll("#options_wrapper a");
        tabs.forEach((tab, index) => {
            tab.textContent = option_variants[index];
        });
    }

    function copyToClipboard() {
        let text = document.querySelector("#option_variant_config").textContent;
        navigator.clipboard.writeText(text).then(
            function () {
                console.log("Copy " + text + " to clipboard");
                const message = document.getElementById("option_copy_message");
                showMessage(message);
            },
            function (err) {
                console.error("Async: Could not copy text: ", err);
            },
        );
    }

    function showMessage(element) {
        element.style.display = "inline";
        setTimeout(() => {
            element.style.display = "none";
        }, 1500);
    }

    addEventListener("DOMContentLoaded", (event) => {
        setOptionsDefault();
    });

    const buttons = document.querySelectorAll(".data-option");
    buttons.forEach((button) => {
        button.addEventListener("click", () => updateData());
    });

    document
        .querySelector("#option_copy_button")
        .addEventListener("click", () => copyToClipboard());
</script>
