---
import { Steps } from "@astrojs/starlight/components";
import { Tabs, TabItem } from "@astrojs/starlight/components";

interface Props {
    options_config: IOptionsConfig;
}
const { options_config } = Astro.props;

export interface IOptionVariant {
    name: string;
    desc: string;
    price: number;
}

export interface IOption {
    name: string;
    default: number;
    variants: IOptionVariant[];
}

export interface IOptionsConfig {
    base_price: number;
    options: IOption[];
}
---

<p>
    Заданная конфигурация: <b><code id="option_variant_config" style="font-size: 1rem;"></code></b>
</p>

<p>Стоимость: <b><code id="price" style="font-size: 1rem;"></code> $</b></p>

<div id="options_wrapper">
    <Tabs>
        {
            options_config.options.map((o, o_index) => (
                <TabItem label={(o_index + 1).toString()}>
                    <p>
                        {o_index + 1}. {o.name}
                    </p>
                    {o.variants.map((ov, ov_index) => (
                        <div>
                            <input
                                type="radio"
                                id={"option_" + o_index.toString() + "_" + ov_index.toString()}
                                name={o_index.toString()}
                                value={ov_index}
                                class="data-option"
                            />
                            <label for={"option_" + o_index.toString() + "_" + ov_index.toString()}>
                                {ov.desc} (+{ov.price.toFixed(1)} $)
                            </label>
                        </div>
                    ))}
                </TabItem>
            ))
        }
    </Tabs>
</div>

<script is:inline define:vars={{ options_config }}>
    // Установить значения по умолчанию для опций
    function setOptionsDefault() {
        for (let i = 0; i < options_config.options.length; i += 1) {
            let radio = document.querySelector(
                `#option_${i.toString()}_${options_config.options[i].default}`,
            );
            if (radio === null) {
                console.warn(
                    `Для опции "${options_config.options[i].name}" нельзя установить значение по умолчанию`,
                );
                continue;
            }

            radio.checked = true;
        }
        updateData();
    }

    function updateData() {
        const checkedVariants = document.querySelectorAll(".data-option:checked");
        let price = options_config.base_price;
        let option_variants = [];
        checkedVariants.forEach((ov) => {
            let option_index = parseInt(ov.name);
            let option_variant_index = parseInt(ov.value);

            price += options_config.options[option_index].variants[option_variant_index].price;
            option_variants.push(
                options_config.options[option_index].variants[option_variant_index].name,
            );
        });

        document.querySelector("#price").textContent = price.toFixed(1);

        let option_string = option_variants.join("/");
        document.querySelector("#option_variant_config").textContent = option_string;

        let tabs = document.querySelectorAll("#options_wrapper a");
        tabs.forEach((tab, index) => {
            tab.textContent = option_variants[index];
        });
    }

    window.onload = function () {
        setOptionsDefault();
    };

    const buttons = document.querySelectorAll(".data-option");
    buttons.forEach((button) => {
        button.addEventListener("click", () => updateData());
    });
</script>
